@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #0f0f0f;
    color: #f5f5f5;
  }

  body {
    @apply bg-bg-primary text-text-primary antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border-light rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-text-muted;
  }
}
